html {
    background-image: url(background.jpg);
    background-size: cover;
      }

  .header {
    display: flex;
    justify-content: center;
  }
  .header li {
    display: inline-block;
    list-style: none;
    margin: 10px 80px 20px 80px;

    }
        
    
  h1 {
    text-transform: uppercase;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 1px midnightblue;
  }

  h2 {

  }

  h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }

  h4 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    font-style: italic;
    color: midnightblue;
    
  }
  .profimg {
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 30px;
  }
  .grid {
    display: grid;  
    position:relative;
    margin: auto;
    column-gap: 100px;
    grid-template-areas: "mywork aboutme contactme";
    grid-template-columns: 300px 450px 300px;
    grid-template-rows: 300px;
    justify-content: center;

  }
 .aboutme {
    grid-area: aboutme;
    background-color: #6EB5C0;
    padding-left: 40px;
    padding-right: 40px;

 }
 .mywork {
    grid-area: mywork;
    background-color: #FFCCBB;
    padding-left: 40px;
    padding-right: 40px;

 }
 .contactme {
    grid-area: contactme;
    background-color: #006C84;
    padding-left: 40px;
    padding-right: 40px;

 }

 .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 30px;
    background-color: #E2EBE4;
 }
 p {
    font-size: 18px;
    text-align: justify;
 }

  /*.aboutme {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding-left: 10px;
    padding-right: 100px;
    margin-top: 30px;
    margin-left: 380px;
    margin-right: 450px;
    background-color: rgb(255, 255, 255, 0.3);
    
  }
  
  }
  .mywork {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 60px;
    margin-top: 30px;
    margin-left: 380px;
    margin-right: 450px;
    background-color: rgb(155, 215, 209, 0.3);
    
    
   
  }
  
  .contactme {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 60px;
    margin-top: 30px;
    margin-left: 380px;
    margin-right: 450px;
    background-color: rgb(50, 93, 121, 0.4);
    
  }*/
  a:link {
    text-decoration: none;   
    font-style: italic;

  }
  a:visited {
    color: midnightblue;
  }
  a:hover {
    color:orange;
  }
